.footer__row-link{
  text-decoration: none;
  padding-right: 18px;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #fff;
  
  font-weight: 400;
  font-family: 'Inter-Regular'
}

@media screen and (max-width: 560px){
  .footer__row-link{
    padding-right: 0;
    display: block;
    padding-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
  }

  .footer__row-link:last-of-type{
    padding-bottom: 48px;
  }
}