.place__title{
  padding: 0;
  margin: 0;
  font-style: normal;
  text-align: left;
  font-size: 72px;
  line-height: 76px;

  font-weight: 900;
  font-family: 'Inter';
}

@media screen and (min-width: 1281px) {
  .place__title{
    max-width: 460px;
    min-height: 76px;
  }
}

@media screen and (max-width: 1280px) { 
  .place__title{
    max-width: 460px;
    min-height: 76px;
  }
}

@media screen and (max-width: 1024px){
  .place__title{
    max-width: 440px;
    min-height: 76px;
  }
}

@media screen and (max-width: 768px) {
  .place__title{
    max-width: 340px;
    min-height: 46px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 640px) {
  .place__title{
    max-width: 400px;
    padding-left: 8%;
    min-height: 35px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 560px) {
  .place__title{
    max-width: 288px;
    padding-left: 7%;
    min-height: 35px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 425px) {
  .place__title{
    max-width: 288px;
    padding-left: 6%;
    min-height: 35px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 320px) { 
  .place__title{
    max-width: 288px;
    padding-left: 5%;
    min-height: 35px;
    font-size: 32px;
    line-height: 35px;
  }
}