.header__lang{
    cursor: pointer;
    
    font-size: 1.5rem;
    line-height: 0.86;

    font-weight: 400;
    font-family: 'Inter';
}
  
@media screen and (max-width: 425px) {
  .header__lang{
    font-size: 1.1rem;
    line-height: 0.9;
  }
}