.footer__row-links{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.footer__row-links:hover{
  opacity: 0.8;
}

@media screen and (max-width: 560px){
  .footer__row-links{
    flex-direction: column;
    justify-content: flex-start;
  }
}
