.footer__columns{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width:560px){
  .footer__columns{
    flex-direction: column;
    align-items: flex-start;
  }
}