.header{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 56px;
  max-width: 1184px;
}
@media screen and (max-width: 1280px) {
  .header{
    padding-bottom: 48px;
    max-width: 92.5vw /*1184px*/;
  }
}

@media screen and (max-width: 1024px) {
  .header{
    padding-bottom: 48px;
    max-width: 90.6vw /*928px*/;
  }
}

@media screen and (max-width: 768px) {
  .header{
    max-width: 93.8vw /*720px*/;
  }
}

@media screen and (max-width: 320px) {
  .header{
    padding-top: 16px;
    max-width: 90vw/*288px*/;
  }
}
