.footer__author{
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin: 0;

  font-weight: 400;
  font-family: 'Inter-Regular';
}

@media screen and (max-width: 560px){
  .footer__author{
    font-size: 14px;
    line-height: 14px;
  }
}