.lead__title{
  margin: 0 auto;
  padding: 0;
  min-height: 200px;
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  padding-bottom: 32px;

  font-weight: 900;
  font-family: 'Inter-Black';
}

@media screen and (max-width: 700px) {
  .lead__title{
    font-size: 80px;
    line-height: 84px;
  }
}

@media screen and (max-width: 576px) {
  .lead__title{
    min-height: 88px;
    max-width: 90vw;
    font-size: 54px;
    line-height: 58px;
  }
}
   
@media screen and (max-width: 425px) {
  .lead__title{
    min-height: 88px;
    max-width: 90vw;
    font-size: 40px;
    line-height: 44px;
  }
}