.place__link{
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #fff;

  font-weight: 400;
  font-family: 'Inter-Regular';
}

@media screen and (max-width: 768px) {
  .place__link{
    font-size: 16px;
    line-height: 26px;
  }
}