.lead__img{
  display: block;
  margin: 0 auto;
  object-fit: contain;
  width: 100%;
  padding-bottom: 8px;
  min-height: 615px;
}

@media screen and (max-width: 1024px){
  .lead__img{
    min-height: 580px;
  }
}

@media screen and (max-width: 768px) {
  .lead__img{
    min-height: 480px;
  }
}

@media screen and (max-width: 580px) {
  .lead__img{
    min-height: 300px;
  }
}

@media screen and (max-width:425px){
    .lead__img{
      min-height: 200px;
    }
}