.cover__title{
  max-width: 560px;
  max-height: 152px;
  margin: 0 auto;
  text-align: center;
  font-size: 72px;
  line-height: 76px;

  font-weight: 900;
  font-family: 'Inter';
}

@media screen and (max-width: 560px) {
  .cover__title{
    max-width: 288px;
    min-height: 44px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title{
    max-width: 288px;
    min-height: 35px;
    font-size: 32px;
    line-height: 35px;
  }
}