.intro__description{
  padding-bottom: 33px;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  text-align: left;

  font-weight: 400;
  font-family: 'Inter', Arial, sans-serif;

  max-width: 690px;
}

@media screen and (max-width: 768px){
  .intro__description{
    max-width: 100%;
  }
}