.intro__title{
  min-height: 58px;
  width: 100%;
  padding-bottom: 40px;
  margin: 0;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
}

@media screen and (max-width:425px){
  .intro__title{
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 320px) { /*стиль для экрана ниже 320px*/
  .intro__title{
    font-size: 32px;
    line-height: 35px;
  }
}