.intro__title{
  width: 100%;
  padding-bottom: 40px;
  margin: 0;
  font-size: 54px;
  line-height: 58px;
  text-align: left;

  font-weight: 900;
  font-family: 'Inter', Arial, sans-serif;

  max-width: 690px;
}

@media screen and (max-width:435px) {
  .intro__title{
    font-size: 32px;
    line-height: 35px;

  }
}