.intro__title{
  min-height: 58px;
  width: 100%;
  padding-bottom: 40px;
  margin: 0;
  font-size: 54px;
  line-height: 58px;
  text-align: left;

  font-weight: 900;
  font-family: 'Inter-Black';
}

@media screen and (min-width: 1281px) {
  .intro__title{
    max-width: 690px;
    margin-left: 0;
  }
}

@media screen and (max-width: 1280px) {
  .intro__title{
    max-width: 690px;
    margin-left: 0;
  }
}

@media screen and (max-width:425px) {
  .intro__title{
    font-size: 32px;
    line-height: 35px;
  }
}